<!DOCTYPE html>
<html>

<head>
    <title>Blue Nami</title>
    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Nova+Cut&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>

    <nav>
        <input type="checkbox" id="res-menu" checked>
        <label for="res-menu">
            <i class="fa fa-bars" id="sign-two"></i>
            <i class="fa fa-times" id="sign-one"></i>
        </label>
        <img src="/img/logoBN.png" alt="Logo" />
        <ul>
            <li> <a href="#">Home</a> </li>
            <li> <a href="#">Productos</a></li>
            <li> <a href="#">Quienes somos</a> </li>
            <li> <a href="#">contactos</a> </li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Registro</a></li>
            <i class="fas fa-shopping-cart"> <a href ="productCart.html"></a></i>
        </ul>
    </nav>
<div class="contenedorgz">        
    <section class="productogz">
         <article class="imgproductogz">
            <div class="imggrandegz">
            <img src="/img/tablagz.png">
            </div>
            <div class="imgcambiogz">
            <img src="/img/tablagz.png">
            <img src="/img/tablagz.png">
            <img src="/img/tablagz.png">
            <img src="/img/tablagz.png">
            <img src="/img/tablagz.png">
            </div>
         </article>
         <article class="desproductosgz">
            <h4>Tabla muy importante</h4>
            <h1>Tabla Super Fish</h1>
    <div class="coloresgz">
            <p>Colores</p> 
            <div class="color1gz">
            </div>
            <div class="color2gz">  
            </div>
            <div class="color3gz">
            </div>
    </div>
    <div class="preciosgz">
            <p>$2500</p>
    </div>
    <div class="botAgrCargz">
        <a href="/productDetail"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
    </div>

    <div class="descripciongz">
            <p>Reflejos:<p>
                <li>Compatible con 650B, para que pueda intercambiar llantas y neumáticos Rock Monster.</li>
                <li>La geometría lista para grava te mantiene en control en superficies sueltas.</li>
                <li>Los frenos de disco brindan una potencia de frenado inigualable.</li>

                <li>Elija que le entreguen su bicicleta completamente construida.</li>
                <li>Devoluciones de 30 días.</li>
                <li>Garantía de cuadro y horquilla de por vida.</li>
    </div>
         </article>              
    </section>
    <div class="divisiongz">
         <p>Productos Relacionados</p>
    </div>
        <section class="productosRelacionadosgz">
            <article class="tabla2gz">
                <div class="imgTabla2gz">
                    <img src="/img/tabla2.png">
                </div>
                <div class="destablagz">
                    <div class="titProdRelgz">
                       <h1>Tabla Super Fish</h1></a>
                    </div>
                <div class="coloresRelgz">
                    <div class="color1Rgz">
                    </div>
                    <div class="color2Rgz">  
                    </div>
                    <div class="color3Rgz">
                    </div>
                </div>
                <div class="preciosRgz">
                    <p>$2500</p>
                </div>
                <div class="botAgrCargz">
                    <a href="/productDetail"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                </div>

                </div>
            </article>
            <article class="tabla3gz">
                <div class="imgTabla3gz">
                    <img src="/img/tabla3.png">
                </div>
                <div class="destablagz">
                    <div class="titProdRelgz">
                        <h1>Tabla Super Fish</h1>
                    </div>
                <div class="coloresRelgz">
                    <div class="color1Rgz">
                    </div>
                    <div class="color2Rgz">  
                    </div>
                    <div class="color3Rgz">
                    </div>
                </div>
                <div class="preciosRgz">
                    <p>$2500</p>
                </div>
                <div class="botAgrCargz">
                    <a href="/productDetail"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                </div>

                </div>
            </article>
            <article class="tabla4gz">
                <div class="imgTabla4gz">
                    <img src="/img/tabla4.png">
                </div>
                <div class="destablagz">
                    <div class="titProdRelgz">
                        <h1>Tabla Super Fish</h1>
                    </div>
                <div class="coloresRelgz">
                    <div class="color1Rgz">
                    </div>
                    <div class="color2Rgz">  
                    </div>
                    <div class="color3Rgz">
                    </div>
                </div>
                <div class="preciosRgz">
                    <p>$2500</p>
                </div>
                <div class="botAgrCargz">
                    <a href="/productDetail"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                </div>

                </div>

            </article>
        </section>

    <footer>
        <div class="contenerdorfootergz">
        <div class="contFogz">
            <h4>NAVEGACIÓN</h4>
            <li>Home</li>
            <li>Nosotros</li>
            <li>Productos</li>
            <li>Contactos</li>
        </div>
            <div class="formpaggz">
                <img src="/img/targin1.png">
            </div>
            <div class="redesgz">
                <img src="/img/redes.png">
            </div>
    </div>
    </footer>
</div>

</body>

</html>