<!DOCTYPE html>
<html>

<head>
    <title>Blue Nami</title>
    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Nova+Cut&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="res-menu" checked>
            <label for="res-menu">
            <i class="fa fa-bars" id="sign-two"></i>
            <i class="fa fa-times" id="sign-one"></i>
        </label>
            <img src="/img/logoBN.png" alt="Logo" />
            <ul>
                <li> <a href="/index.html">Home</a> </li>
                <li> <a href="/productDetail.html">Productos</a></li>
                <li> <a href="index.html#qsomos">Quienes somos</a> </li>
                <li> <a href="index.html#contactos-index">contactos</a> </li>
                <li> <a href="#" onClick="MyWindow=window.open('/login.html','MyWindow','width=600,height=400'); return false;">Login</a></li>
                <li><a href="register.html">Registro</a></li>
                <a href="productCart.html"><i class="fas fa-shopping-cart"></i></a>
            </ul>
        </nav>
    </header>
    <div class="contenedorgz">
        <section class="productogz">
            <article class="imgproductogz">
                <div class="imggrandegz">
                    <img src="/img/tablagz.png">
                </div>
                <div class="imgcambiogz">
                    <img src="/img/tablagz.png">
                    <img src="/img/tablagz.png">
                    <img src="/img/tablagz.png">
                    <img src="/img/tablagz.png">
                    <img src="/img/tablagz.png">
                </div>
            </article>
            <article class="desproductosgz">
                <h4>Tabla muy importante</h4>
                <h1>Tabla Super Fish</h1>
                <div class="coloresgz">
                    <p>Colores</p>
                    <div class="color1gz">
                    </div>
                    <div class="color2gz">
                    </div>
                    <div class="color3gz">
                    </div>
                </div>
                <div class="preciosgz">
                    <p>$2500</p>
                </div>
                <div class="botAgrCargz">
                    <a href="productCart.html"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                </div>

                <aside class="descripciongz">
                    <p>Tabla:</p><br>
                            <li>El tamaño se mide en pies, desde 4.8" hasta 9".</li>
                            
                            <li>Las más grandes de ellas proporcionan un surf más pausado.</li>
                       
                            <li>La velocidad de remo es mayor pero son menos manejables y dinámicas que las más pequeñas.</li>         
                </aside>
            </article>
        </section>
       
        <div class="divisiongz">
            <p>Productos Relacionados</p>
        </div>
        <section class="productosRelacionadosgz">
            <article class="tabla2gz">
                <div class="imgTabla2gz">
                    <img src="/img/tabla2.png">
                </div>
                <div class="destablagz">
                    <div class="titProdRelgz">
                        <h1>Tabla Super Fish</h1>
                        </a>
                    </div>
                    <div class="coloresRelgz">
                        <div class="color1Rgz">
                        </div>
                        <div class="color2Rgz">
                        </div>
                        <div class="color3Rgz">
                        </div>
                    </div>
                    <div class="preciosRgz">
                        <p>$2500</p>
                    </div>
                    <div class="botAgrCargz">
                        <a href="productCart.html"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                    </div>

                </div>
            </article>
            <article class="tabla3gz">
                <div class="imgTabla3gz">
                    <img src="/img/tabla3.png">
                </div>
                <div class="destablagz">
                    <div class="titProdRelgz">
                        <h1>Tabla Super Fish</h1>
                    </div>
                    <div class="coloresRelgz">
                        <div class="color1Rgz">
                        </div>
                        <div class="color2Rgz">
                        </div>
                        <div class="color3Rgz">
                        </div>
                    </div>
                    <div class="preciosRgz">
                        <p>$2500</p>
                    </div>
                    <div class="botAgrCargz">
                        <a href="productCart.html"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                    </div>

                </div>
            </article>
            <article class="tabla4gz">
                <div class="imgTabla4gz">
                    <img src="/img/tabla4.png">
                </div>
                <div class="destablagz">
                    <div class="titProdRelgz">
                        <h1>Tabla Super Fish</h1>
                    </div>
                    <div class="coloresRelgz">
                        <div class="color1Rgz">
                        </div>
                        <div class="color2Rgz">
                        </div>
                        <div class="color3Rgz">
                        </div>
                    </div>
                    <div class="preciosRgz">
                        <p>$2500</p>
                    </div>
                    <div class="botAgrCargz">
                        <a href="productCart.html"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                    </div>

                </div>

            </article>
        </section>
    </div>
    
    <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>
   
</body>

</html>