* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h2admin{
    text-align: center;
}
tbody{
    margin:50px;
    padding: 50px;
}
 table.tablaAdmin{
    
    width: 50%;
    border: 1px solid rgb(184, 189, 190);
    box-shadow: azure;
    margin: 10px 10px 10px 10px ;
    padding: 10px 10px 10px 10px;

}
button.eliminarAdmin{
    width:100%;
    height:100%;
    padding: 20px 10px 20px 10px;
    color:rgb(4, 53, 117);
}
button.selAdmin{
    width: 150px;
    height: 30%;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(1, 13, 48);
    border-color: rgb(95, 99, 99);
    background-color: #E9B843;
    padding: 15px 10px 20px 10px;
    margin:15px 10px 15px 10px;
}
.botonesSelAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}




input.campos{
    text-align: center;
    width:85%;
    height:100%;
    color:rgb(4, 53, 117)
}
.thead{
  
   font-weight: 100;


}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width: 576px){
table.tablaAdmin{
    width: 70%;
    
}
input.campos{
    width:85%;
    height:fit-content;
}
.botonesSelAdmin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    
}
@media screen and (min-width: 768px) {
    table.tablaAdmin{
        width: 85%;
        
    }
    input.campos{
        width:85%;
    }
    .botonesSelAdmin{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
    
}
@media (min-width: 1200px) and (orientation: landscape){
    table.tablaAdmin{
        width: 100%;
        height:fit-content;
        
    }
    input.campos{
        width:90%;
    }
    .botonesSelAdmin{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}
