* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article.h2admin1{
    font-size: 20px;
    margin: auto;  
}

.h2admin{
    font-size: 20px;
    margin: auto;
}
.contenerdorAdminP{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.imgAdmin{
    width: 100%;
    height: 100%;
    
}
/*Tabla */
tbody.tbodyAdmin{
    margin:50px;
    padding: 50px;
}

 table.tableAdmin{
     max-width: 90%;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    margin: auto;
    padding: 10px 10px 10px 10px;
}
.theadAdmin{
    background-color:#E9B843;
}

table.tableAdmin th{
   font-family: "numans", "nova-cut";
   padding: 10px;
   color: gray;
   text-align:left;
}
table.tableAdmin td{
    font-family: "roboto";
    padding: 10px;
    text-align: center;
    font-size: 13px;  
 }

 table.tableAdmin td.descripcion{
    text-align: left;
    
 }
 tr.trAdmin:nth-child(even) {
    background-color: #ddd;
}

/*FIN Tabla */

.h2admin h2{
    font-family: "lobster";
    font-size: 30px;
    color: grey;
    margin-top: 20px;
    margin-bottom: 30px;
    text-shadow: 0px 1px 2px rgba(77, 76, 76, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

button.eliminarAdmin{
    width:100%;
    height:100%;
    padding: 20px 10px 20px 10px;
    color:rgb(4, 53, 117);
}
button.selAdmin{
    width: 150px;
    height: 30%;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(1, 13, 48);
    border-color: rgb(95, 99, 99);
    background-color: #E9B843;
    padding: 15px 10px 20px 10px;
    margin:15px 10px 15px 10px;
}
.botonesSelAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttonAdmin {
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(1, 13, 48);
    border-color: rgb(95, 99, 99);

    padding: 10px 5px 10px 5px;
    margin: 10px 5px 10px 5px;
}

input.campos_add{
    height: auto;
}
@media screen and (min-width: 576px){
table.tableAdmin{
    width: 70%;
    
}


.botonesSelAdmin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    
}
@media screen and (min-width: 768px) {
    table.tableAdmin{
        width: 85%;
        
    }
   
    .botonesSelAdmin{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
    
    
}
@media (min-width: 1200px) and (orientation: landscape){
    table.tableAdmin{
        width: 100%;
        height:fit-content;
        
    }
    
    
    .botonesSelAdmin{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}
