* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article.h2adminUsers{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.h2adminUsers{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
/*Tabla*/
tbody.tbodyAdminUsers{
    margin:50px;
    padding: 50px;
    
}
 table.tableAdminUsers{
    max-width: 90%;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 10px 10px 10px ;
    padding: 10px 10px 10px 10px;
    margin: auto;
   
}

/*Tabla*/
.h2adminUsers a{
    font-size: 14px;
    font-weight:500;
    font-family: "roboto";
    text-decoration: none;  
    color:black;
   
}

.h2adminUsers h2{
    font-family: "lobster";
    font-size: 30px;
    color: grey;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.theadAdminUsers{
    background-color:  #E9B843;
}

table.tableAdminUsers th{
   font-family: "numans", "nova-cut";
   padding: 10px;
   color: gray;
   text-align:left;
}
table.tableAdminUsers td{
    font-family: "roboto";
    padding: 10px;
    text-align: left;
    font-size: 13px;
    
 }

 tr.tradminUsers:nth-child(even) {
     background-color: #ddd;
 }

 .buttonUsers {
    width: 150px;
    height: 30%;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(1, 13, 48);
    border-color: rgb(95, 99, 99);
    background-color: #E9B843;
    padding: 10px 5px 10px 5px;
    margin: 10px 5px 10px 5px;
}


@media screen and (min-width: 576px){
table.tableAdminUsers{
    width: 70%;
    
}

}
@media screen and (min-width: 768px) {
    table.tableAdminUsers{
        width: 85%;
        
    }
    
}
@media (min-width: 1200px) and (orientation: landscape){
    table.tableAdminUsers{
        width: 100%;
        height:fit-content;
        
    }

}
