/* Comienzo CSS Login*/

.form-login-logo,
.form-login-separaciones {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: stretch;
    justify-content: center;
}

.form-login-h1,
.form-login-h2 {
    font-family: 'Lobster', cursive;
}

.form-login-formulario {
    display: flex;
    flex-direction: column;
}

.form-login-titulo,
.form-login-mail,
.form-login-password,
.form-login-experiencia,
.form-login-comment-olas,
.form-login-comment-tablas,
.form-login-foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin: auto
}

.form-login-boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.form-login-botonP {
    width: 200px;
    display: flex;
    ;
    flex-direction: column;
}

.form-login-p {
    display: flex;
    ;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.form-login-input:focus {
    background-color: azure;
}

.form-login-textarea:focus {
    background-color: azure;
}

.form-login-label-comment-tablas {
    font-family: 'Nova Cut', cursive;
    margin: auto;
}

.form-login-label {
    font-family: 'Nova Cut', cursive;
}

.form-login-input,
.form-login-textarea {
    border-radius: 5px;
    margin: auto;
}

.form-login-separacion-mobile {
    display: block;
}

.form-login-separacion-tablet {
    display: none;
}

.form-login-separacion-escritorio {
    display: none;
}


/* Fin CSS Login*/


@media screen and (min-width: 768px) {

.form-login-separacion-mobile {
    display: none;
}
.form-login-separacion-tablet {
    display: block;
}
.form-login-separacion-escritorio {
    display: none;
}
.form-login-formulario {
    font-size: 1.5em;
}

}


@media (min-width: 1200px) and (orientation: landscape) {

    .form-login-separacion-mobile {
        display: none;
    }
    .form-login-separacion-tablet {
        display: none;
    }
    .form-login-separacion-escritorio {
        display: block;
    }
    .form-login-formulario {
        font-size: 2em;
    }

}