/*Comienzo css Gina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedorgz {
    width: 80vw;
    flex-direction: column;
    max-width: 1000;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
   
}
.titProdRelgz h1:hover{
    color:#1c2460;
    }
.botongz1 {
    width: 60%;
    background-color: #E9B843;
    font-family: "roboto";
    font-size: 1em;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 5px;
}


/* Comienzo segundo contenedor Gina*/

input.buscarProd{
    width:40%;
    margin:10px;
    padding:5px 8px;
    border-radius:32px;
    outline:none;
    border:2px solid #ccd1d1;
    background:#d4f4fc;
    transition:all 0.5s;  
}

.barra-bus {
    text-align: center;
    padding: 10px;  
}


article.tabla_lista {
    justify-content: space-around;
    display: inline-block;
    width: 70%;
    margin: 12px;
    flex-direction: row;
    flex-direction: column;   
 }

.imgTabla2gz img {
    width: 100%;
    height: 100%;
  
}

.coloresRelgz {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.color1Rgz {
    width: 20px;
    height: 20px;
    background: #FEC36A;
}

.color2Rgz {
    width: 20px;
    height: 20px;
    background: #FE398C;
}

.color3Rgz {
    width: 20px;
    height: 20px;
    background: #7CDEDE;
}

.titProdRelgz h1 {
    margin: auto;
    font-family: "Lobster";
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.preciosRgz p {
    font-family: "roboto";
    font-size: 20px;
    text-align: center;
}

.destablagz {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.barra-busDet {
    text-align: right;
    margin-top: 10px;
    margin-bottom: -10px;
}
input.buscarProdDet{
    width:20%;
    padding:5px 8px;
    border-radius:20px;
    border:2px solid #ccd1d1;
    background:#d4f4fc;
    font-family: "roboto";
  
}



/*ProductCart*/

/*Tabla carrito*/
table.tableCart{
   border-radius: 6px;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
   margin: 40px 40px;
   padding: 10px 10px 10px 10px;
}
tbody.tbodyCart{
    margin:50px;
    padding: 50px;
}

thead.theadCart{
    font-weight: 100;
}

table.tableCart th{
   font-family: "numans", "nova-cut";
   padding: 10px;
   text-align:left;
}
.tbodyCart td{
    font-family: "roboto";
    padding: 10px;
    text-align: left;
    font-size: 13px; 
    background-color: white;
 }
 .tdfotoproducto {
     width: 100px;
     height: 100px;
 }
 .tbodyCart img{
     width: 100%;
     height: 100%;
 }
 td.nombreCart{
     margin: auto;
 }
 .botonBorrar{
     font-size: 30px;
        font-weight: 300;
        color: rgb(1, 13, 48);
        padding: 15px 10px 20px 10px;
        margin: 15px 10px 15px 10px;
    }
/*Agregar*/
    .nombreCart h3{
        color: #1c2460;
        margin-bottom: -10px;
        font-size:20px;
    }
    .nombreCart p{
        text-align: center; 
    
    }
    .trCart p{ 
        font-size: 20px;
        font-weight: 400;

    }
/*Fin Tabla carrito*/
 

body.bodysole {
    font-family: Roboto;
    background-color: rgb(207, 219, 235);
    height: 100%
    
}
.totalSoleTT{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}
.totalapagarsole p {
    color: grey;
    font-family: "roboto";
    font-weight: 500;
    text-align: center;
}
.totalapagarsole h1,
.micarritoSole h1{
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(9, 153, 219);
    font-weight: 300;
}

h2.h2sole {
    font-weight: 200;
}

section.contenedorSole {
    font-family: "lobster";
    width: 100%;
    height: 100%;
    font-weight: 200;
    background-color: white;
    padding: 10px;
    border: 20 px solid rgb(6, 50, 78);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: rgb(82, 118, 173) dotted 2px;
}



section.contenedorSole3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "lobster";
    width: 100%;
    height: 100%;
    font-weight: 300;
    color: rgb(90, 219, 252);
    padding: 10px;
    font-size: 20px;
}

.precioTabla1Sole {
    margin: 5px;
    color: rgb(37, 75, 85);
    align-self: center;
}

.precioTabla2Sole {
    margin: 5px;
    color: rgb(37, 75, 85);
    align-self: center;
}

.tabla1Sole {
    margin: 5px;
    text-align: center;
    color: #254b55;
    font-weight: 300;
    align-self: center
}

.tabla2Sole {
    margin: 5px;
    text-align: center;
    color: #254b55;
    font-weight: 300;
    align-self: center
}

aside {
    color: rgb(37, 75, 85);
    font-weight: 300;
    flex-direction: row;
    text-align: justify;
    align-self: center
}

.botonPagarSole {
    width: 250px;
    height: 50%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
    color: rgb(2, 16, 61);
    border-color: rgb(95, 99, 99);
    background-color: #E9B843;
    padding: 5px;
}

.seguirComprandoSole {
    width: 250px;
    border-radius: 20px;
    font-size: 15px;
    color: rgb(2, 16, 61);
    border-color: rgb(95, 99, 99);
    background-color: #E9B843;
    padding: 5px;
}

button.buttonressole {
    color: rgb(2, 16, 61);
    border-color: rgb(95, 99, 99);;
    border-radius: 20px;
    background-color: #E9B843;
    font-size: 15px;
    width: 70px;
}

button.button_add_Cart{
    margin-top: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    color: white;
    border-color: rgb(95, 99, 99);
    background-color: rgb(8, 94, 169);
    padding: 5px;
}

.button_add_Cart {
    width: 150px;
    height: 30%;
    padding: 15px 10px 20px 10px;
    margin: 15px 10px 15px 10px;
}
.totalsole {
    align-self: center;
    font-weight: 200;
    color: rgb(2, 16, 61);
}

.todmedpagosole {
    color: rgb(37, 75, 85);
}

@keyframes surfear {
    100% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.50;
    }
    25% {
        opacity: 0.25;
    }
}

.aSurfear {
    font-size: 20px;
    font-family: "lobster";
    font-weight: 200;
    color: rgb(2, 16, 61);
    animation-name: surfear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-top: 30px;
}

input.inputsole {
    border-radius: 10px;
    width: 70px;
    background-color: rgb(236, 216, 172);
    padding: 2px 2px 2px 8px;
    font-family: "lobster";
    border-color: cyan;
    margin: 10px;
}

.tabla1Sole img:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.tabla2Sole img:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

@keyframes opaco {
    0% {
        color: cyan;
    }
    25% {
        color: rgb(23, 90, 216)
    }
    75% {
        color: rgb(95, 95, 231)
    }
    100% {
        color: rgb(3, 82, 119)
    }
}

@keyframes girar {
    0% {
        rotateY: 100px
    }
    50% {
        rotateY: 100px;
    }
    100% {
        rotateX: 100px
    }
}

.precioTabla1Sole h4 {
    animation-name: opaco;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.precioTabla2Sole h4 {
    animation-name: opaco;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.asidesole:hover {
    color: rgb(5, 151, 156);
}

.totalsole:hover {
    font-size: x-large;
}

@media screen and (min-width: 576px) {
    .totalapagarsole h1,
    .micarritoSole h1{
        font-size: 20px;
    }
    h2.h2sole {
        font-size: 18px;
    }
    section.contenedorSole {
        flex-direction: row;
        float: right;
        font-weight: 200;
    }
    section.contenedorSole3 {
        flex-direction: column;
        font-weight: 200;
        font-size: 20px;
    }
    .todmedpagosole {
        font-size: 15px;
    }
    .totalsole {
        font-size: 20px;
        text-align: center;
        align-self: center;
    }
    aside.asidesole {
        display: none;
    }
  /*Tabla carrito*/
    table.tableCart{
        width: 85%;    
    }
    
    
}

@media screen and (min-width: 768px) {
    .totalapagarsole h1,
    .micarritoSole h1{
        font-size: 30px;
    }
    h2.h2sole {
        font-size: 25px;
    }
    section.contenedorSole3 {
        flex-direction: row;
        font-weight: 200;
        font-size: 28px;
    }
    aside.asidesole {
        display: block;
    }
        /*Tabla carrito*/
    table.tableCart{
        width: 85%;
    }
   
    
}

@media (min-width: 1200px) and (orientation: landscape) {
    .totalsole {
        font-size: large;
    }
    .totalapagarsole h1,
    .micarritoSole h1{
        font-size: 40px;
    }
    h2.h2sole {
        font-size: 30px;
    }
    section.contenedorSole3 {
        flex-direction: row;
        font-weight: 200;
        font-size: 35px;
    }
    aside.asidesole {
        display: block;
    }

    /*Tabla carrito*/
    table.tableCart{
        width: 100%;
        height:fit-content; 
    }
   

}


/*PRoductoDetail*/
.contenedorPDgz {
    width: 80vw;
    flex-direction: column;
    max-width: 1000;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.productogz {
    width: 100%;
    flex-direction: column;
}

.imgproductogz {
    width: 100%;
    height: 80%;
    flex-direction: column;
}

.imggrandegz img {
    width: 90%;
    height: 80%;
}

.imgcambiogz {
    width: 90%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}

.imgcambiogz img {
    width: 20%;
    height: 20%;
    justify-content: space-around;
    opacity: 0.3;
}

.desproductosgz {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0;
}

.desproductosgz h4 {
    font-family: "Numans";
    font-size: 1.2em;
    color: #940303;
    padding: 10px;

}

.desproductosgz h1 {
    font-family: "Lobster";
    font-size: 4em;
    color: rgb(6, 75, 128);
    text-align: center;
     text-shadow: 0px 1px 2px rgba(77, 76, 76, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.coloresgz {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-left: 15%;


}
.colorgz p{
    margin: 10px;
    font-family: "numans";
}
.cuadradogz{
    background-color: #E9B843;
    width: 30px;
    height: 30px;
}
.contadorGrandegz {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-left: 8%;
}
.contadorGrandegz p{
    font-family: "Numans";
    color: #7D7D7D;
}

.coloresgz p {
    font-family: "Numans";
    font-size: 15px;
    color: #7D7D7D;
    margin-right: 50px;
    margin-top: 5%;
}

.color1gz {
    width: 30px;
    height: 30px;
    background: #FEC36A;
}

.color2gz {
    width: 30px;
    height: 30px;
    background: #FE398C;
}

.color3gz {
    width: 30px;
    height: 30px;
    background: #7CDEDE;
}
.botongz {
    width: 60%;
    background-color: #E9B843;
    font-family: "roboto";
    font-size: 1em;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 10px;
}

.preciosgz p {
    font-family: "roboto";
    font-size: 40px;
    text-align: center;
}

aside.descripciongz li {
    padding: 0% 5%;
    font-family: "Roboto";
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
}

aside.descripciongz p {
    font-family: "Roboto";
    font-weight: 800;
}

aside.descripciongz {
    padding-top: 0px;
}

.descripcion2gz {
    width: 100%;
    padding: 0% 5%;
    font-family: "Roboto";
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
}

.contadorgz{
    padding: 10px;
    border-radius: 30px;
    max-width: 60px;
    display: block;

}

/* Comienzo segundo contenedor Gina*/

.divisiongz {
    width: 100%;
    height: 10%;
}

.divisiongz p {
    font-family: "roboto";
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
}

.productosRelacionadosgz {
    width: 100%;
    flex-direction: column;
}

.productosgz {
    width: 100%;
    flex-direction: column;
}

.imgTabla2gz img {
    width: 100%;
    display: block;
    margin: auto;
}

.tabla3gz {
    width: 100%;
    align-items: center;
}

.imgTabla3gz img {
    width: 100%;
    height: 50%;
}

.tabla4gz {
    width: 100%;
    align-items: center;
}

.imgTabla4gz img {
    width: 100%;
    height: 50%;
}

.coloresRelgz {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.color1Rgz {
    width: 20px;
    height: 20px;
    background: #FEC36A;
}

.color2Rgz {
    width: 20px;
    height: 20px;
    background: #FE398C;
}

.color3Rgz {
    width: 20px;
    height: 20px;
    background: #7CDEDE;
}

.titProdRelgz h1 {
    margin: auto;
    font-family: "Lobster";
    font-size: 30px;
    color: #000000;
    text-align: center;
}
.titProdRelgz h4{
    margin: auto;
    font-family: "numan";
    font-size: 20px;
    color: #000000;
    text-align: center;
}


.preciosRgz p {
    font-family: "roboto";
    font-size: 30px;
    text-align: center;
    
}

.destablagz {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/* Comienzo Media */

@media screen and (min-width: 576px) {
    /*CSS Detail Gina*/
    .productogz {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
   
    .productosRelacionadosgz {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .productosgz {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    aside.descripciongz {
        display: none;
    }

}

@media screen and (min-width: 768px) {
    /*MEdia Detail Gina*/
    
    aside.descripciongz {
        display: block;
    }
    .descripcion2gz {
        display: none;
    }
    .productosgz {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .contenedor4tablasgz {
        width: 100%;
        flex-direction: row;
    }
    article.tabla_lista {
        width: 30%;
   
}

@media (min-width: 1200px) and (orientation: landscape) {
    /*MEdia Detail Gina*/
    aside.descripciongz {
        display: block;
    }
    .descripcion2gz {
        display: none;
    }
    .contenedor4tablasgz {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
   
     
}

/* Comienzo Media Product */

@media screen and (min-width: 576px) {
    /*CSS Gina*/
    article.tabla_lista {
        width: 85%; 
    }
}

@media screen and (min-width: 768px) {
    article.tabla_lista {
        width: 30%;
    }

@media (min-width: 1200px) and (orientation: landscape) {
    /*MEdia Gina*/
    article.tabla_lista {
        width: 22%;
    }
 }}}