/*Comienzo css Gina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedorgz {
    width: 80vw;
    flex-direction: column;
    max-width: 1000;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
   
}

.botongz1 {
    width: 60%;
    background-color: #E9B843;
    font-family: "roboto";
    font-size: 1em;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
}


/* Comienzo segundo contenedor Gina*/

input.buscarProd{
    width:500px;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    outline:none;
    border:2px solid #ccd1d1;
    background:#d4f4fc;
    transition:all 0.5s; 
    
}

.tabla_lista {
    box-shadow: inset 0 -3em 3em rgb(1 162 209 / 31%), 0 0 0 2px rgb(255 255 255), 0.3em 0.3em 1em rgb(0 0 0 / 30%);
    justify-content: space-around;
    display: inline-block;
    width: 310px;
    margin: 12px;
    border-radius: 6px;
    flex-direction: row;
}

.imgTabla2gz img {
    width: 20%;
    height: 20%;
}

.coloresRelgz {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.color1Rgz {
    width: 20px;
    height: 20px;
    background: #FEC36A;
}

.color2Rgz {
    width: 20px;
    height: 20px;
    background: #FE398C;
}

.color3Rgz {
    width: 20px;
    height: 20px;
    background: #7CDEDE;
}

.titProdRelgz h1 {
    margin: auto;
    font-family: "Lobster";
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.preciosRgz p {
    font-family: "roboto";
    font-size: 20px;
    text-align: center;
}

.destablagz {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.barra-bus {
    margin: 30px auto;
     
    text-align: center;
    
}


/* Comienzo Media */

@media screen and (min-width: 576px) {
    /*CSS Gina*/
}

@media screen and (min-width: 768px) {
    /*MEdia Gina*/
}

@media (min-width: 1200px) and (orientation: landscape) {
    /*MEdia Gina*/
}