/* Comienzo CSS Register*/
.form-reg-formulario {
    width: 80vw;
    max-width: 800px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    background-color:#E9B843;
    border-radius: 20px;
    padding-bottom: 40px; 
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.form-reg-name{
    padding-top: 40px;
}
.contenedortablamb{
    width: 80vw;
    max-width: 800px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
}
.form-reg-pais,
.form-reg-name,
.form-reg-info,
.form-reg-cont{
    display: flex;
    flex-direction: column;
    flex-direction: wrap;
    max-width: 60%;
    margin: auto;
    text-align: center;
}

.form-login-input {
    border-radius: 5px;
    margin: auto;
}
.form-login-input:focus {
    background-color: azure;
}
.form-reg-pais{
    display: block;
}

.contenedortablamb h2,
.form-reg-titulo h1{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    margin: auto;
    text-align: center;
    color: #004e63;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
    padding: 1px;
}
.form-reg-pais p,
.form-reg-p p{
font-size: 15px;
font-family: "roboto";
text-align: left;
align-items: center;
}
.form-reg-p{
    justify-content: center;
    padding: 0px 30px 30px 0px;
    }

.form-reg-p2 p{
    font-size: 15px;
font-family: "roboto";
text-align: left;
align-items: center;
}
.form-reg-password{
    margin: auto;
}

.form-reg-input:focus {
    background-color: azure;
}


.form-reg-input {
    font-size: 20px;
    border-radius: 5px;
    border-color: grey;
}

.form-reg-boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-reg-botonP button{
        margin-top: 10px;
        font-size: 20px;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 300;
        color: white;
        border-color: rgb(95, 99, 99);
        background-color: rgb(8, 94, 169);
        padding: 5px;
}

.form-reg-separacion-mobile {
   
    display: block;
}

.form-reg-separacion-tablet {
    display: none;
}

.form-reg-separacion-escritorio {
    display: none;
}
.errores ul{
    color:red
}

/* Fin CSS Register*/
@media screen and (min-width: 768px) {
    .form-reg-pais,
    .form-reg-name,
    .form-reg-info,
    .form-reg-cont{
        flex-direction: row;
        flex-direction: wrap;
    }
    .form-reg-separacion-mobile {
        display: none;
    }
    .form-reg-separacion-tablet {
        display: block;
    }
    .form-reg-separacion-escritorio {
        display: none;
    }
    .form-reg-titulo h1{
        font-size: 2.5em;
    }
}
@media (min-width: 1200px) and (orientation: landscape) {

    .form-reg-separacion-mobile {
        display: none;
    }
    .form-reg-separacion-tablet {
        display: none;
    }
    .form-reg-separacion-escritorio {
        display: block;
    }
    .form-reg-formulario {
        font-size: 2em;
    }
    .form-reg-titulo h1{
        font-size: 3em;
    }
    .form-reg-pais,
    .form-reg-name,
    .form-reg-info,
    .form-reg-cont{
        flex-direction: row;
        flex-direction: nowrap;
    }
    
}