<!DOCTYPE html>
<html>

<head>
    <title>Blue Nami</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <input type="checkbox" id="res-menu" checked>
        <label for="res-menu">
            <i class="fa fa-bars" id="sign-two"></i>
            <i class="fa fa-times" id="sign-one"></i>
        </label>
        <img src="/img/logoBN.png" alt="Logo" />
        <ul>
            <li>  <a href="/index.html">Home</a> </li>
            <li>  <a href="/productDetail.html">Productos</a></li>
            <li> <a href="/index.html">Quienes somos</a> </li>
            <li> <a href="/index.html">contactos</a> </li>
            <li> <a href="/login.html">Login</a></li>
            <li><a href="register.html">Registro</a></li>
            <a href ="productCart.html"><i class="fas fa-shopping-cart"></i></a>
        </ul>
    </nav>
    <video id="videoBG" autoplay="true" muted="true" loop="true">
        <source src="/img/prefinal.mp4 " type="video/mp4 ">
    </video>
    <section class="section section-a ">
        <div class="container ">
            <img src="/img/logonombre_trans.png" class="logovideo">
        </div>
    </section>
    <section class="section section-b ">
        <div class="carousel">
            <div class="carousel-inner">
                <h2>Productos</h2>
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                <div class="carousel-item">
                    <img src="/img/producto01.jpg">
                </div>
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item">
                    <img src="/img/producto02.jpg">
                </div>
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item">
                    <img src="/img/producto03.jpg">
                </div>
                <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                <label for="carousel-2" class="carousel-control next control-1">›</label>
                <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                <label for="carousel-3" class="carousel-control next control-2">›</label>
                <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                <label for="carousel-1" class="carousel-control next control-3">›</label>
                <ol class="carousel-indicators">
                    <li>
                        <label for="carousel-1" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet">•</label>
                    </li>
                </ol>
            </div>
        </div>
    </section>

    <section class="section section-c ">
        <img src="/img/olas011.png" id="olas01">
        <h2>Quienes Somos</h2>
        <div class="qsomos">
            <img class="izquierda" src="/img/fotoola2.png">
            <aside>exto tan extenso como queramos que cubrirá la parte derecha de la imagen. Sigo poniendo texto para que se vea el efecto, Bla bla bla bla bla bla bla...</aside>
            <div class="reset"></div>
        </div>
        <img src="/img/olas033.png" id="olas01">
    </section>
    <section class="sectionsection-d ">
        <section class="cantact_info">
            <section class="info_title">
                <span class="fa fa-user-circle"></span>
                <h2>INFORMACION<br>DE CONTACTO</h2>
            </section>
            <section class="info_items">
                <p><span class="fa fa-envelope"></span> info.contact@gmail.com</p>
                <p><span class="fa fa-mobile"></span> +1(585) 902-8665</p>
            </section>
        </section>

        <form action="" class="form_contact">
            <h2>Envia un mensaje</h2>
            <div class="user_info">
                <label for="names">Nombres *</label>
                <input type="text" id="names">

                <label for="phone">Telefono / Celular</label>
                <input type="text" id="phone">

                <label for="email">Correo electronico *</label>
                <input type="text" id="email">

                <label for="mensaje">Mensaje *</label>
                <textarea id="mensaje"></textarea>

                <input type="submit" value="Enviar Mensaje" id="btnSend">
                <input type="reset" value="Borrar Mensaje" id="btnSend">

            </div>
        </form>

    </section>




</body>

</html>