<!DOCTYPE html>
<html>

<head>
    <title>Blue Nami</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <input type="checkbox" id="res-menu" checked>
        <label for="res-menu">
            <i class="fa fa-bars" id="sign-two"></i>
            <i class="fa fa-times" id="sign-one"></i>
        </label>
        <img src="/img/logoBN.png" alt="Logo" />
        <ul>
            <li> <a href="#">Home</a> </li>
            <li> <a href="#">Productos</a></li>
            <li> <a href="#">Quienes somos</a> </li>
            <li> <a href="#">contactos</a> </li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Registro</a></li>
            <i class="fas fa-shopping-cart"> <a href ="productCart.html"></a></i>
        </ul>
    </nav>
    <div>
        <h1>MI CARRITO</h1>
    </div>
    <section class="contenedorSole">
        <div class="tabla1Sole">
        <h2>Tabla Super Fish</h2>
        </div>               
            <div class= "fotoTabla1Sole">
                <img src="img/tabla1chica.png">
            </div>
            <aside>
                <ul>
                    <li> La Super Fish es la tabla liviana ideal</li>
                    <li> Mayor deslizamiento en olas chicas y medianas </li>
                    <li> Gran maniobrabilidad</li>
                    <li> Diseño exclusivo Blue Nami </li>
                </ul>
                
            </aside>
            <div class="precioTabla1Sole">
                <h3>  $2.500</h3> 
                <h4>Envio Gratis </h4>
                <img src="\img\tablaVector50x62 (1) (1).png" >
            </div>   
        </section>
    
    <section class="contenedorSole2">
        <div class="tabla2Sole">
        <h2>Tabla Longboard </h2>
        </div>
            <div class= "fotoTabla4Sole">
                <img src="img/tabla4.png">
            </div>
            <aside>
                <ul>
                    <li> La Longboard es la tabla más estable</li>
                    <li> Su superficie permite caminar sobre ella en la ola </li>
                    <li> Gran maniobrabilidad</li>
                    <li> Diseño exclusivo Blue Nami </li>
                </ul>
            </aside>
            <div class="precioTabla2Sole">
                <h3>$2.500 </h3> 
                <h4>Envio Gratis </h4>
                <img src="\img\tablaVector50x62 (1) (1).png" >
            </div>
                  
    </section>
    <section class="contenedorSole3">
        <button class="botonPagarSole">PAGAR </button>
        <h2 class="total">Total = $5.000</h2>
    </section>
<footer>
<p> Todos los derechos reservados - BLUE NAMI est. since 2021</p> 
</footer>
</body>