<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>

            <div>
                <h2 class="h2admin">STOCK</h2>
                <div class="tablaAdmin">
                    <table class="tablaAdmin">
                        <thead class="thead">
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Tabla</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Color</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Artículo</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Imagen</th>
                            
                            <th scope="col">&nbsp;</th>
                        </thead>
                        <tbody>

                            <tr>
                                <th scope="row"> <input type="checkbox"> </th>

                                <td><input class="campos" type="text" name="fish" value="fish"></td>
                                <td><input class="campos" type="text" name="fish" value="roxy"></td>
                                <td><input class="campos" type="text" name="fish" value="blanco/dorado/fucsia"></td>
                                <td><input class="campos" type="text" name="fish" value="$2500"></td>
                                <td><input class="campos" type="text" name="fish" value="sdj76"></td>
                                <td><input class="campos" type="text" name="fish" value="26"></td>
                                <td><a href="/product"><img src="/img/tabla1chica.png" alt="" width=80px heigth=80px></a></td>
                                <td>
                                    <a href="#">
                                        <button class="eliminarAdmin" type="reset"><i class="far fa-trash-alt tm-product-delete-icon"></i></button>
                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row"> <input type="checkbox"> </th>

                                <td><input class="campos" type="text" name="fish" value="longboard"></td>
                                <td><input class="campos" type="text" name="fish" value="phantom"></td>
                                <td><input class="campos" type="text" name="fish" value="blanco/azul/celeste"></td>
                                <td><input class="campos" type="text" name="fish" value="$2500"></td>
                                <td><input class="campos" type="text" name="fish" value="kjjfhIF"></td>
                                <td><input class="campos" type="text" name="fish" value="7"></td>
                                <td><a href="/product"><img src="/img/tabla3Sole.png" alt="" width=80px heigth=80px></a></td>
                                    <td>
                                        <a href="#">
                                            <button class="eliminarAdmin" type="reset"><i class="far fa-trash-alt tm-product-delete-icon"></i></button>
                                        </a>

                                    </td>
                            </tr>
                            <tr>
                                <th scope="row"> <input type="checkbox"> </th>

                                <td><input class="campos" type="text" name="fish" value="SUPER fish"></td>
                                <td><input class="campos" type="text" name="fish" value="woody"></td>
                                <td><input class="campos" type="text" name="fish" value="madera"></td>
                                <td><input class="campos" type="text" name="fish" value="$4250"></td>
                                <td><input class="campos" type="text" name="fish" value="767fgbashjv"></td>
                                <td><input class="campos" type="text" name="fish" value="19"></td>
                                <td><a href="/product"><img src="/img/tabla4.png" alt="" width=80px heigth=80px></a></td>
                                <td>
                                    <a href="#">
                                        <button class="eliminarAdmin" type="reset"><i class="far fa-trash-alt tm-product-delete-icon"></i></button>
                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row"> <input type="checkbox"> </th>

                                <td><input class="campos" type="text" name="fish" value="speedy"></td>
                                <td><input class="campos" type="text" name="fish" value="flash"></td>
                                <td><input class="campos" type="text" name="fish" value="off white"></td>
                                <td><input class="campos" type="text" name="fish" value="$3890"></td>
                                <td><input class="campos" type="text" name="fish" value="jsa7576"></td>
                                <td><input class="campos" type="text" name="fish" value="32"></td>
                                <td><a href="/product"><img src="/img/tabla3.png" alt="" width=80px heigth=80px></a></td>
                                <td>
                                    <a href="#">
                                        <button class="eliminarAdmin" type="reset"><i class="far fa-trash-alt tm-product-delete-icon"></i></button>
                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row"> <input type="checkbox"> </th>

                                <td><input class="campos" type="text" name="fish" value="fish"></td>
                                <td><input class="campos" type="text" name="fish" value="princess"></td>
                                <td><input class="campos" type="text" name="fish" value="rosa/navy"></td>
                                <td><input class="campos" type="text" name="fish" value="$2800"></td>
                                <td><input class="campos" type="text" name="fish" value="jksafni76564"></td>
                                <td><input class="campos" type="text" name="fish" value="51"></td>
                                <td><a href="/product"><img src="img/tabla2.png" alt="" width=80px heigth=80px></a></td>
                                <td>
                                    <a href="#">
                                        <button class="eliminarAdmin" type="reset"><i class="far fa-trash-alt tm-product-delete-icon"></i></button>
                                    </a>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="botonesSelAdmin">
               <a href="/adminAdd"><button class="selAdmin" type="submit">AGREGAR NUEVO</button><br></a> 
               <a href="/adminAdd"><button class="selAdmin" type="submit">MODIFICAR</button><br></a>
               <a href="/admin"><button class="selAdmin" type="reset">ELIMINAR</button> <br></a>
                
            </div>
            

            <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>
            <%- include("./partials/footer") %>
    </body>

</html>