<!DOCTYPE html>
<html>
    <%- include("./partials/head") %>
<body >
    <%- include("./partials/header") %>
    
     <div >
         <h2>Creacion de productos</h2>
       <div class="tablaAdmin">
<table class="tablaAdmin ">
    <thead class="thead">
        <th scope="col">&nbsp;</th>
        <th scope="col" >Tabla</th>
        <th scope="col">Modelo</th>
        <th scope="col">Color</th>
        <th scope="col" >Precio</th>
        <th scope="col">&nbsp;</th>
    </thead>
    <tbody>
        
        <tr>
            <th scope="row"> <input type="checkbox" > </th>
               
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td>
            
            <td>
                <a href="#">
                    <button type="reset"><i class="far fa-trash-alt tm-product-delete-icon"></i></button>
                     </a>
       
            </td>  
           </tr> 
           <tr>
            <th scope="row"> <input type="checkbox" > </th>
               
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td>
            
            <td>
                <a href="#">
                    <button type="reset"><i class="far fa-trash-alt tm-product-delete-icon"></i></button>
                     </a>
       
            </td>  
           </tr> 
           <tr>
            <th scope="row"> <input type="checkbox" > </th>
               
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td>
            
            <td>
                <a href="#">
                    <button type="reset"><i class="far fa-trash-alt tm-product-delete-icon"></i></button>
                     </a>
       
            </td>  
           </tr> 
           <tr>
            <th scope="row"> <input type="checkbox" > </th>
               
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td>
            
            <td>
                <a href="#">
                   <button type="reset"><i class="far fa-trash-alt tm-product-delete-icon"></i></button>
                     </a>
       
            </td>  
           </tr> 
           <tr>
            <th scope="row"> <input type="checkbox" > </th>
               
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td> 
            <td><input type="text" name="fish" value="fish"></td>
            <td>
                <a href="#">
                    <button type="reset"><i class="far fa-trash-alt tm-product-delete-icon"></i></button>
                     </a>
       
            </td>  
           </tr> 
           
    </tbody>
</table>
       </div> 
    </div>
    <button type="submit">Añadir Seleccionadas</button> <br>
    <button type="reset">Eliminar Seleccionadas</button>
    <aside>
        <img src="" alt="">
    </aside>

    
    
    <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>
    <%- include("./partials/footer") %>
</body>

</html>

