<!DOCTYPE html>
<%- include("./partials/head") %>
<body>
    



    <div id="card">
    <div class="add-titulo">
        <h2 class="add-titulo-2">Modificar Producto</h2>
    </div>
    <div class="add-bloque">
        <div class="add-formulario">
            <form action="" class="tm-edit-product-form">
                <div class="form-group mb-3">
                    <label for="name">
             Nombre
        </label>
                    <br/>
                    <input id="name" name="name" type="text" class="campos_add" value="Tabla Fish" required />
                </div>
                <div class="form-group mb-3">
                    <label for="description">Descripcion</label>
                    <br/>
                    <textarea class="form-control validate" rows="3" required>Tabla para correr olas grandes y de velocidad</textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="category">Modelo</label>
                    <br/>
                    <select id="category" class="campos_cat" id="category" value="Fish">
            <option selected>Seleccionar</option>
            <option value="1">Fish</option>
            <option value="2">Long Board</option>
            <option value="3">Old School</option>
            </select>
                </div>
                <div class="row">
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label for="expire_date">Precio</label>
                        <br/>
                        <input id="color" type="text" class="campos_add" value="$100.000" />
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label for="stock"> Unidades</label>
                        <br/>
                        <input id="unidades" name="stock" type="text" class="campos_add" value="90" required />
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label for="stock">Color</label>
                        <br/>
                        <input id="unidades" name="stock" type="text" class="campos_add" value="blanco/fucsia/dorado" required />
                    </div>
                </div>
                </div>
               </div>
               <div class="add-subirImagen">
                <div class="add-imagen">
                    <img src="img/tabla1chica.png" alt="surfboard" width="100" height="100" onclick="document.getElementById('fileInput').click();">
                </div>
                <div class="add-imgbutton">
                    <input id="fileInput" type="file" style="display:none;" />
                    <input type="button" class="button2" value="Modificar Imagen" onclick="document.getElementById('fileInput').click();" />
                </div>
            </div>
            
                <a href="/admin"><button type="submit" class="button_add">Confirmar Cambios</button></a>
           </form>




               </div>
               <a href="/admin"><button class=" volverAdmin" type="submit"> Volver a Admin</button></a>
               <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>
                <%- include("./partials/footer") %>
            </body>
            </html>