<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>


<body>
    <%- include("./partials/headerAdmin") %>
    <div>
        <h2 class="h2admin">Administrador de Usuarios</h2>
        <h4>Listado de usuarios</h4>
    </div>
    <div class="tm-product-table-container">
        <table class="table table-hover tm-table-small tm-product-table">
            <div>
                <div>
                    <table class="tablaAdmin">
                        <thead>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre </th>
                            <th scope="col">Apellido</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Género</th>
                            
                            <th scope="col">&nbsp;</th>
                        </thead>
                        <tbody>
                            <tr>
                                <div class="recuadros">
                                <th scope="row"> <input type="checkbox"> </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                
                                    <a href="#">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>

                                </td>
                                </div>
                            </tr>
                            <tr>
                                <th scope="row"> <input type="checkbox"> </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="#">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <div class="recuadros">
                                <th scope="row"> <input type="checkbox"> </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                
                                    <a href="#">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>

                                </td>
                                </div>
                            </tr>
                            <tr>
                                <div class="recuadros">
                                <th scope="row"> <input type="checkbox"> </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                
                                    <a href="#">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>

                                </td>
                                </div>
                            </tr>
                            <tr>
                                <div class="recuadros">
                                <th scope="row"> <input type="checkbox"> </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                
                                    <a href="#">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>

                                </td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </table>
    </div>
    <div class="botonesSelAdmin">
        <a href="/adminAdd"> <button class="selAdmin" type="submit">AGREGAR NUEVO</button><br></a>
        <a href="/adminMod"><button class="selAdmin" type="submit">MODIFICAR</button><br></a>
        <a href="/admin"><button class="selAdmin" type="reset">ELIMINAR</button> <br></a>

    </div>
    <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>    
 <%- include("./partials/footer") %>
</body>

</html>