<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <%- include("./partials/header") %>    
    <div class="form-login-logo">
        <img width=20% src="/img/logo.png" alt="logo">
    </div>
    
    <form class="form-login-formulario" action="/client/login" method="POST">
        <section class="form-login-titulo">
        <h1 class="form-login-h1"> Welcome back!</h1>
        </section>

        <section class="form-login-mail">
            <p class="form-login-p">
                <label class="form-login-label" for=email >e-mail:</label>
                <input class="form-login-input" type="email" name="email" id="email" placeholder=mail@dominio.com >
                <% if (locals.errors && errors.email) { %>
                    <span class="error">  <%= errors.email.msg %> </span>
                <% } %>
            </p>
        </section>
  
        <section class="form-login-password">
            <p class="form-login-p">
                <label class="form-login-label" for="contraseña">Contraseña:</label>
                <input class="form-login-input" type="password" name="password" id="contraseña" >
            </p> 
        </section>
        <section class="form-login-password">  
            <p class="form-login-p"> 
            <input class="form-login-input" type="checkbox"  name="remember_user" id="remember_user" >Recordame  
            </p>
        </section>

        <section class="form-login-boton">
            <p class="form-login-botonP">
                <button type="submit" > Enviar  </button>
                <img src="/img/tablaPerfil.png" alt="perfil">
            </p>
        </section>
    </form>
  <form class="form-login-formulario2"action="">
        <section class="form-login-experiencia">
            <h2 class="form-login-h2"> ¿Estuviste surfeando? </h2>
        </section>
  
        <section class="form-login-comment-olas">
            <p class="form-login-p">
                <label class="form-login-label" for="form-comentario-olas">¿Buenas olas? ¿Dónde?</label> <br>
                <textarea class="form-login-textarea" name="form-comentario" id="form-comentario">Brasil, Peru, Ecuador, Francia, Portugal, Australia, Japon... </textarea>
            </p>
        </section><br>
  
        <section class="form-login-comment-tablas">
            <p class="form-login-p">
                <label class="form-login-label-comment-tablas" for="form-comment-tabla">¡Compartinos fotos!</label>
                <input class="form-login-input" type="file"  name="form-comment-tabla" id="form-comment-tabla" accept=".jpg , .png" multiple>
            </p>
        </section>
    </form>

    <div class="form-login-separaciones">
        <div class="form-login-separacion-mobile">
            <img width=100% src="/img/tablaPerfil.png" alt="Tabla de Surf Perfil">
        </div>
    
        <div class="form-login-separacion-tablet">
            <img width=100% src="/img/tablaAbajo.png" alt="Tabla de Surf Abajo">
        </div>
    
        <div class="form-login-separacion-escritorio">
            <img width=100% src="/img/tablaFrente.png" alt="Tabla de Surf Frente">
        </div>
    </div>


    <section class="form-login-foto">
        <img width=100% src="/img/olasAltas.png" alt="olas">
    </section>

<%- include("./partials/footer") %>

</body>
</html>