<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <%- include("./partials/header") %>   

<div class="form-login-titulo">
        <h1> Welcome back!</h1>
        </div>
    <form class="form-login-formulario" action="/client/login" method="POST">
        <div class="primeramb">
        <div class="form-login-mail">
            <div class="form-login-p">
                <label class="form-login-label" for=email><p>E-mail:</p></label>
                <input class="form-login-input" type="email" name="email" id="email" placeholder=mail@dominio.com >
                <% if (locals.errors && errors.email) { %>
                    <span class="error">  <%= errors.email.msg %> </span>
                <% } %>
                </div>
        </div>
  
        <div class="form-login-password">
            <div class="form-login-p">
                <label class="form-login-label" for="contraseña"><p>Contraseña:</p></label>
                <input class="form-login-input" type="password" name="password" id="contraseña">
            </div>
        </div>
    </div>
        <div class="segundamb">
            <div class="form-login-remember">  
                <div class="form-login-p"> 
                <input class="form-login-input" type="checkbox"  name="remember_user" id="remember_user"><p>Recordame</p>
                </div>
            </div>
        <div class="form-login-boton">
            <p class="form-login-botonP">
                <button type="submit" > Login </button>
                <img src="/img/tablaPerfil.png" alt="perfil">
            </p>
        </div>
       
    </div>
    </form>
  <form class="form-login-formulario2"action="">
        <div class="form-login-h2">
            <h2> ¿Estuviste surfeando? </h2>
        </div>
  
        <div class="form-login-comment-olas">
            <div class="form-login-pro">
                <label class="form-login-label" for="form-comentario-olas"><p>¿Buenas olas? ¿Dónde?</p></label> <br>
                <textarea class="form-login-textarea" name="form-comentario" id="form-comentario">Brasil, Peru, Ecuador, Francia, Portugal, Australia, Japon... </textarea>
            </div>
        </div><br>
  
        <div class="form-login-comment-tablas">
            <div class="form-login-especial">
                <label class="form-login-label-comment-tablas"  for="form-comment-tabla"><p>¡Compartinos fotos!</p></label> <br>
                <input class="form-login-input" type="file"  name="form-comment-tabla" id="form-comment-tabla" accept=".jpg , .png" multiple>
            </div>
        </div>

        <section class="form-log-boton">
            <div class="form-log-botonP">
                <button type="submit" ><p>Enviar</p></button>
                
            </div>

        </section>
    </form>

    <div class="form-login-separaciones">
        <div class="form-login-separacion-mobile">
            <img width=100% src="/img/tablaPerfil.png" alt="Tabla de Surf Perfil">
        </div>
    
        <div class="form-login-separacion-tablet">
            <img width=100% src="/img/tablaAbajo.png" alt="Tabla de Surf Abajo">
        </div>
    
        <div class="form-login-separacion-escritorio">
            <img width=100% src="/img/tablaFrente.png" alt="Tabla de Surf Frente">
        </div>
    </div>

<div class="form-login-logo">
    <img width=20% src="/img/logo.png" alt="logo">
</div>

    <div class="form-login-foto">
        <img width=100% src="/img/olasAltas.png" alt="olas">
    </div>

<%- include("./partials/footer") %>

</body>
</html>