<!DOCTYPE html>
<html>
<%- include("./partials/head") %>


    <body>

        <%- include("./partials/header") %>
            <section>
                <div class="barra-bus"> <input type="text"><button><i class="fas fa-search"></i></button></div>
            </section>
            <div class="contenedorgz">
                <div class="contenedor4tablasgz">
                    <div class="contenedor2tablasgz">
                        <section class="productosgz">
                            <article class="tabla2gz">
                                <div class="imgTabla2gz">
                                    <a href="productDetail"><img src="/img/tabla2.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                        </a>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                            <article class="tabla3gz">
                                <div class="imgTabla3gz">
                                    <a href="productDetail"><img src="/img/tabla3.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                    </div>
                    <div class="contenedor2tablasgz">
                        <section class="productosgz">
                            <article class="tabla4gz">
                                <div class="imgTabla4gz">
                                    <a href="productDetail"><img src="/img/tabla4.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                        </a>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                            <article class="tabla2gz">
                                <div class="imgTabla2gz">
                                    <a href="productDetail"><img src="/img/tabla2.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                    </div>
                </div>
                <div class="contenedor4tablasgz">
                    <div class="contenedor2tablasgz">
                        <section class="productosgz">
                            <article class="tabla2gz">
                                <div class="imgTabla2gz">
                                    <a href="productDetail"><img src="/img/tabla2.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                        </a>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                            <article class="tabla3gz">
                                <div class="imgTabla3gz">
                                    <a href="productDetail"><img src="/img/tabla3.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                    </div>
                    <div class="contenedor2tablasgz">
                        <section class="productosgz">
                            <article class="tabla4gz">
                                <div class="imgTabla4gz">
                                    <a href="productDetail"><img src="/img/tabla4.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                        </a>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                            <article class="tabla2gz">
                                <div class="imgTabla2gz">
                                    <a href="productDetail"><img src="/img/tabla2.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                    </div>
                </div>
                <div class="contenedor4tablasgz">
                    <div class="contenedor2tablasgz">
                        <section class="productosgz">
                            <article class="tabla2gz">
                                <div class="imgTabla2gz">
                                    <a href="productDetail"><img src="/img/tabla2.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                        </a>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                            <article class="tabla3gz">
                                <div class="imgTabla3gz">
                                    <img src="/img/tabla3.png">
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                    </div>
                    <div class="contenedor2tablasgz">
                        <section class="productosgz">
                            <article class="tabla4gz">
                                <div class="imgTabla4gz">
                                    <a href="productDetail"><img src="/img/tabla4.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                        </a>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>

                                    </div>
                            </article>
                            <article class="tabla2gz">
                                <div class="imgTabla2gz">
                                    <a href="productDetail"><img src="/img/tabla2.png"></a>
                                </div>
                                <div class="destablagz">
                                    <div class="titProdRelgz">
                                        <h1>Tabla Super Fish</h1>
                                    </div>
                                    <div class="coloresRelgz">
                                        <div class="color1Rgz">
                                        </div>
                                        <div class="color2Rgz">
                                        </div>
                                        <div class="color3Rgz">
                                        </div>
                                    </div>
                                    <div class="preciosRgz">
                                        <p>$2500</p>
                                    </div>
                                    <div class="botAgrCargz">
                                        <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                    </div>

                                </div>
                            </article>
                            </div>
                    </div>
                    <div class="contenedor4tablasgz">
                        <div class="contenedor2tablasgz">
                            <section class="productosgz">
                                <article class="tabla3gz">
                                    <div class="imgTabla3gz">
                                        <a href="productDetail"><img src="/img/tabla3.png"></a>
                                    </div>
                                    <div class="destablagz">
                                        <div class="titProdRelgz">
                                            <h1>Tabla Super Fish</h1>
                                            </a>
                                        </div>
                                        <div class="coloresRelgz">
                                            <div class="color1Rgz">
                                            </div>
                                            <div class="color2Rgz">
                                            </div>
                                            <div class="color3Rgz">
                                            </div>
                                        </div>
                                        <div class="preciosRgz">
                                            <p>$2500</p>
                                        </div>
                                        <div class="botAgrCargz">
                                            <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                        </div>

                                    </div>
                                </article>
                                <article class="tabla4gz">
                                    <div class="imgTabla4gz">
                                        <a href="productDetail"><img src="/img/tabla4.png"></a>
                                    </div>
                                    <div class="destablagz">
                                        <div class="titProdRelgz">
                                            <h1>Tabla Super Fish</h1>
                                        </div>
                                        <div class="coloresRelgz">
                                            <div class="color1Rgz">
                                            </div>
                                            <div class="color2Rgz">
                                            </div>
                                            <div class="color3Rgz">
                                            </div>
                                        </div>
                                        <div class="preciosRgz">
                                            <p>$2500</p>
                                        </div>
                                        <div class="botAgrCargz">
                                            <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                        </div>

                                    </div>
                                </article>
                        </div>
                        <div class="contenedor2tablasgz">
                            <section class="productosgz">
                                <article class="tabla2gz">
                                    <div class="imgTabla2gz">
                                        <img src="/img/tabla2.png">
                                    </div>
                                    <div class="destablagz">
                                        <div class="titProdRelgz">
                                            <h1>Tabla Super Fish</h1>
                                            </a>
                                        </div>
                                        <div class="coloresRelgz">
                                            <div class="color1Rgz">
                                            </div>
                                            <div class="color2Rgz">
                                            </div>
                                            <div class="color3Rgz">
                                            </div>
                                        </div>
                                        <div class="preciosRgz">
                                            <p>$2500</p>
                                        </div>
                                        <div class="botAgrCargz">
                                            <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                        </div>

                                    </div>
                                </article>
                                <article class="tabla3gz">
                                    <div class="imgTabla3gz">
                                        <img src="/img/tabla3.png">
                                    </div>
                                    <div class="destablagz">
                                        <div class="titProdRelgz">
                                            <h1>Tabla Super Fish</h1>
                                        </div>
                                        <div class="coloresRelgz">
                                            <div class="color1Rgz">
                                            </div>
                                            <div class="color2Rgz">
                                            </div>
                                            <div class="color3Rgz">
                                            </div>
                                        </div>
                                        <div class="preciosRgz">
                                            <p>$2500</p>
                                        </div>
                                        <div class="botAgrCargz">
                                            <a href="productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                                        </div>

                                    </div>
                                </article>
                        </div>
                    </div>

                </div>






                <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>
                <%- include("./partials/footer") %>
    </body>

</html>