<nav class= "navAdmin">
    <input type="checkbox" id="res-menu" checked>
    <label for="res-menu">
        <i class="fa fa-bars" id="sign-two"></i>
        <i class="fa fa-times" id="sign-one"></i>
    </label>
    <img src="/img/logoBN.png" alt="Logo" />
    <ul>
        <li> <a href="/admin">Administrador de Productos</a></li>
        
        
        <li><a href="/adminUser">Administrador de Usuarios</a></li>
        
        <li><a href="/admin/borrados">Administrador Borrados</a></li>        

        <li> <a href="/">Salir de Admin</a> </li>
        
    </ul>
</nav>