<nav class= "navAdmin">
    <input type="checkbox" id="res-menu" checked>
    <label for="res-menu">
        <i class="fa fa-bars" id="sign-two"></i>
        <i class="fa fa-times" id="sign-one"></i>
    </label>
    <img src="/img/logoBN.png" alt="Logo" />
    <ul>
        <li> <a href="/admin"><i class="fa-brands fa-product-hunt fa-3x" style="--fa-animation-duration: 2.5s;"></i></a></li>
        
        
        <li><a href="/adminUser"> <i class="fa-regular fa-user fa-3x"></i></a></li>
        
        <li><a href="/admin/borrados"><i class="fa-regular fa-trash-can fa-3x"></i></a></li>        

        <li> <a href="/"><i class="fa-solid fa-right-from-bracket fa-3x"></i></a> </li>
        
    </ul>
</nav>