<nav>
    <input type="checkbox" id="res-menu" checked>
    <label for="res-menu">
        <i class="fa fa-bars" id="sign-two"></i>
        <i class="fa fa-times" id="sign-one"></i>
    </label>
    <img src="/img/logoBN.png" alt="Logo" />
    <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/product">Productos</a></li>
        <li> <a href="/#qsomos">Quienes somos</a> </li>
        <li> <a href="/#contactos-index">Contactos</a> </li>
        <li> <a href="/client/login">Login</a> </li>
        <li><a href="/client/register">Registro</a></li>
        <li> <a href="/admin">Admin</a> </li>
        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
    </ul>
</nav>