<nav class= "navAdmin">
    <input type="checkbox" id="res-menu" checked>
    <label for="res-menu">
        <i class="fa fa-bars" id="sign-two"></i>
        <i class="fa fa-times" id="sign-one"></i>
    </label>
    <img src="/img/logoBN.png" alt="Logo" />
    <ul>
        <li> <a href="/admin">Listado productos</a></li>
        <li> <a href="/adminAdd">Agregar productos</a> </li>
        <li> <a href="/adminMod">Modificar productos</a> </li>
        <li><a href="/adminUser">Listado Usuarios</a></li>
        <li> <a href="/adminUserAdd">Agregar Usuarios</a> </li>
        <li> <a href="/adminUserMod">Modificar Usuarios</a> </li>
        <li> <a href="/">Salir de Admin</a> </li>
        
    </ul>
</nav>